<div class="outer-wrapper">
    <div class=container>
        <div class="well">
            <div class="row">
              <h1>Cameron Management x Serendipity Labs<br>
                  <small>LabFoundation Platform </small></h1><br><hr>
                  <div class="big_spacer">  </div>
                <div class="col-xs-6 col-sm-4">
                    <div class="well">
                      <div class="icon-div">
                        <i class="material-icons">view_list</i>
                      </div>
                        <h1><small>Step 1.</br> <%= link_to "Add Lists", new_list_path %></small></h1><hr>
                        <ul>
                            <li>Contacts Belong to Lists.</li>
                            <li>Create Lists for Various Categories.</li>
                        </ul>
                    </div>

                </div>
                <div class="col-xs-6 col-sm-4">
                    <div class="well">
                      <div class="icon-div">
                        <i class="material-icons">person_add</i>
                      </div>
                    <h1><small>Step 2. </br> <%= link_to "Add Contacts", new_contact_path %></small></h1><hr>
                        <ul>
                            <li>Include as Much Information as Possible.</li>
                            <li>Add Contacts to a List.</li>
                            <li>When the Time Comes, Export to MailChimp and SalesForce.</li>

                        </ul>
                    </div>

                </div>
                <div class="col-xs-6 col-sm-4">
                    <div class="well">
                      <div class="icon-div">
                        <i class="material-icons">event</i>
                      </div>
                        <h1><small>Step 3. </br> <%= link_to "Events", events_path %></small></h1><hr>
                        <ul>
                            <li>Identify Target Groups.</li>
                            <li>Add Group's Events to Calendar Using Meetup APIs.</li>
                            <li>Know What's Happening.</li>
                        </ul>

                    </div>
                </div>
              <br>

                <hr>

            </div>
        </div>

    </div>
  </div>
</div>
