@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-material-design';
@import "font-awesome-sprockets";
@import "font-awesome";
* {
    font-family: 'Avenir', sans-serif;
}
h1 {
    text-align: center;
}
$cameron-green: #199947;

.icon-div{
  height: 50px;
  width:  50px;
  padding: 10px;
  border-radius: 50px;
  background-color: $cameron-green;
  position: absolute;
  top: -25px;
  left: 40%;
  i{
    color: white;
    font-size: 30px;
  }
}

.navbar{
  height: 80px;
  background-color:(lighten($cameron-green, 50%));
}
