
<% if alert %>
<div class="container">
    <div class="alert alert-danger" role="alert">
        <%= alert %>
    </div>
</div>
<% end %>

<% if notice %>
<div class="container">
    <div class="alert alert-info" role="alert">
        <%= notice %>
    </div>
</div>
<% end %>
